<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap" rel="stylesheet">   
    <link href="https://fonts.googleapis.com/css2?family=Palanquin&family=Staatliches&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">    

    <title>Space Cream - Menu</title>

    <script>
        const add_item_url = {{ url_for("add_item_carrinho")|tojson }}

        document.addEventListener("DOMContentLoaded", function(e) {
            const listaBotaoComprar = document.getElementsByClassName("comprar");
            
            for (let i = 0; i < listaBotaoComprar.length; i++) {
                const botaoComprar = listaBotaoComprar[i]

                botaoComprar.addEventListener(
                    "mouseenter",
                    (event) => {
                        const textoAcao = event.target.firstElementChild;
                        const textoPreco = event.target.lastElementChild;
                        textoAcao.style.display = "block";
                        textoPreco.style.display = "none";
                    },
                    false,
                );

                botaoComprar.addEventListener(
                    "mouseleave",
                    (event) => {
                        const textoAcao = event.target.firstElementChild;
                        const textoPreco = event.target.lastElementChild;
                        textoAcao.style.display = "none";
                        textoPreco.style.display = "block";
                    },
                    false,
                );

                botaoComprar.addEventListener(
                    "click",
                    (event) => {
                        console.log('click', event.target)
                        console.log('click', event.target.dataset)
                        let data = {
                            "id": event.target.dataset.id,
                            "qtd": event.target.dataset.qtd,
                        }
                        fetch(add_item_url, {
                            "method": "POST",
                            "headers": {"Content-Type": "application/json"},
                            "body": JSON.stringify(data),
                        }).then((result) => {
                            alert("Produto adicionado ao carrinho!")
                            location.replace(location.href)
                        })
                    },
                    false,
                );
            }
        });
    </script>


</head>
<body>
    
    <header>
        <img src="{{ url_for('static',filename='imgs/logo 1.png') }}" class="logo" alt="Desenho de um círculo e dentro uma casquinha de sorvete com uma bola de cor lilás" />
        <div class="title">
            <h1>Space cream</h1>
            <span class="icon-cesta">
                <a href={{ url_for('cesta_compras') }}>
                    <img src="{{ url_for('static',filename='imgs/cesta.png') }}">
                    <span>{{ qtd_carrinho }}</span>
                </a>
            </span>
        </div>
    </header>

    <main>
        <h2>Menu</h2>
    </main>

    <div id="menu">
        <div class="row-sorvete">
            {%for sorvete in sorvetes %}
                <div class="card-sorvete">
                    <p class="titulo">{{sorvete.nome}}</p>
                    <img src = {{sorvete.url_img}}>
                    <button class="comprar" data-id={{sorvete.id}} data-qtd="1">
                        <span class="acao" data-id={{sorvete.id}} data-qtd="1">Comprar</span>
                        <span class="preco">R${{sorvete.preco}}</span>
                    </button>
                </div>
            {%endfor%}
        </div>
    </div>
    
    <footer class="rodape">
        fale conosco no instagram <a href="https://www.instagram.com/spacecreamm" target="_blank">@spacecreamm</a>
    </footer>
    
</body>
</html>