*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --ff-heading:
    'Staatliches', cursive;
    --ff-texting:
    'Kalam', cursiva;
    font-size: 68.5%;

    --hue: 250;
    --bg-primary:
    hsl(var(--hue), 17%, 62%);
    --bg-title:
    hsl(var(--hue), 18%, 79%);
    --bg-buttom:
    hsl(var(--hue), 91%, 96%);
    --c-primary:
    hsl(var(--hue), 0%, 100%);
    --c-p:
    hsl(var(--hue), 84%, 12%);
    --c-secundary:
    hsl(var(--hue), 17%, 35%);
    --bg-main:
    hsl(235, 62%, 92%);
}

body{
    font-family: var(--ff-texting);
    color: var(--c-p);
    font-size: 2.5rem;
    background: var(--bg-main);
}

body::before{
    background: var(--bg-primary);
    content: '';
    width: 100%;
    height: 35rem;
    position: absolute;
    z-index: -1;
}

header{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

header img{
    width: 20rem;
    height: 16rem;
    margin-top: 3.6rem;
}

header .title{
    margin: 3rem auto 3rem;
    width: 100%;
    text-align: center;
}

header .title h1{
    font-family: var(--ff-heading);
    background: var(--bg-title);

    color: var(--c-primary);
    font-weight: 400;
    font-size: 7rem;
    letter-spacing: 0.05em;
    text-shadow: 0.2rem 0.2rem 0.2rem rgb(156, 151, 151);

    width: 100%;
}

main{
    margin: 0 auto;
    
    padding: 5.4rem 11.6rem;
}

main h2{
    margin: auto 0rem 1rem;
    text-align: center;
}

#vitrine{
    display: grid;
    grid-template-columns: 47% 47%;
    grid-template-rows: 50% 50%;
    align-items: center;
    justify-content: space-between;
}

.card{
    position: relative;
    margin-bottom: 3.2rem;

    transition-property: transform 700ms;
}

.card img{
    width: 100%;

    animation: topdown 700ms;
}


.card h2{
    font-family: var(--ff-heading);
    font-weight: 400;

    font-size: 2rem;
    color: var(--c-secundary); 
    margin-top: 0.5rem;
}

.card h2 a{
    text-decoration: none;
    color: var(--c-secundary);
}

.card #info{
    position: absolute;
    width: 11.2rem;
    height: 3.5rem;
    top: 1.6rem;
    right: 1.6rem;

    border-radius: 10px;
    background: var(--bg-buttom);
    text-align: center;

    animation: downtop 200ms 200ms backwards;
}

.row-sorvete{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
}

.card-sorvete {
    position: relative;
}

.card-sorvete img{
    width: 314px;
    height: 320px;
}

button.comprar{
    position: absolute;
    width: 11.2rem;
    height: 3.5rem;
    bottom: 1.6rem;
    right: 1.6rem;

    border: none;
    border-radius: 10px;

    background: var(--bg-buttom);
    text-align: center;
    font-family: var(--ff-heading);

    text-decoration: none;
}

button.comprar:hover{
    cursor: pointer
}

.comprar .acao{
    display: none;
}
@keyframes topdown {
    0%{
        opacity: 0;
        transform: rotateY(-5px);
    }
    100%{
        opacity: 1;
        transform: rotateY(0);
    }
}

@keyframes downtop {
    0%{
        opacity: 1; 
        transform: rotateY(0);
    }
    100%{
        opacity: 0;
        transform: rotateY(5px)}
}

